<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div th:if="${message}">
    <div th:text="${message}" style="color:red"></div>
</div>
<form th:action="@{/registration}" method="post">
    <div><label> Имя пользователя : <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегистрироваться"/></div>
</form>
<a th:href="@{/login}">Уже есть аккаунт? Войти</a>
</body>
</html>